IO_LOC "sw1"       88; IO_PORT "sw1"     PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sw2"       87; IO_PORT "sw2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;
// sw1 and sw2 are pull downed to GND with 1K on board

IO_LOC "sys_clk"   4; IO_PORT "sys_clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "usb_rx"   70; IO_PORT "usb_rx" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "usb_tx"   69; IO_PORT "usb_tx" PULL_MODE=UP IO_TYPE=LVCMOS33;

// SDCard
IO_LOC "sd_clk"  83; IO_PORT "sd_clk"  PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_mosi" 82; IO_PORT "sd_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_miso" 84; IO_PORT "sd_miso" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_cs_n" 81; IO_PORT "sd_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//IO_LOC "led_n[5]" 20;
//IO_LOC "led_n[4]" 19;
//IO_LOC "led_n[3]" 18;
//IO_LOC "led_n[2]" 17;
//IO_LOC "led_n[1]" 16;
//IO_LOC "led_n[0]" 15;
//IO_PORT "led_n[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_PORT "led_n[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_PORT "led_n[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_PORT "led_n[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_PORT "led_n[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_PORT "led_n[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC "ws2812" 79;IO_PORT "ws2812" PULL_MODE=UP IO_TYPE=LVCMOS33; // RGB LED

IO_LOC "DAL[6]"   73; IO_PORT "DAL[6]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[7]"   74; IO_PORT "DAL[7]" PULL_MODE=UP IO_TYPE=LVCMOS33;
// pin75 is pulled down 10k to GND on the board
IO_LOC "INIT_SW"  75; IO_PORT "INIT_SW" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DAL[8]"   85; IO_PORT "DAL[8]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[0]"   77; IO_PORT "DAL[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[0]"   15; IO_PORT "LED_n[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[1]"   16; IO_PORT "LED_n[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[9]"   27; IO_PORT "DAL[9]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[10]"  28; IO_PORT "DAL[10]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "AIO[0]"   25; IO_PORT "AIO[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
// pin26 is pulled down 5k to GND on the board
IO_LOC "INIT_n"   26; IO_PORT "INIT_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "AIO[1]"   29; IO_PORT "AIO[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "AIO[2]"   30; IO_PORT "AIO[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "AIO[3]"   31; IO_PORT "AIO[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[2]"   17; IO_PORT "LED_n[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[5]"   20; IO_PORT "LED_n[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[4]"   19; IO_PORT "LED_n[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_n[3]"   18; IO_PORT "LED_n[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "DAL[11]"  76; IO_PORT "DAL[11]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[12]"  80; IO_PORT "DAL[12]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[13]"  42; IO_PORT "DAL[13]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[14]"  41; IO_PORT "DAL[14]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[15]"  56; IO_PORT "DAL[15]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[1]"   54; IO_PORT "DAL[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[2]"   51; IO_PORT "DAL[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[3]"   48; IO_PORT "DAL[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[4]"   55; IO_PORT "DAL[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "DAL[5]"   49; IO_PORT "DAL[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "BUFCTL_n" 86; IO_PORT "BUFCTL_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "LED_RGB"  79; IO_PORT "LED_RGB" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ALE_n"    72; IO_PORT "ALE_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "SCTL_n"   71; IO_PORT "SCTL_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
// pin52 and 53 are pulled up 2.2k to 5V, FFT to 3.3V on the board
IO_LOC "GPIO_RX"  53; IO_PORT "GPIO_RX" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "GPIO_TX"  52; IO_PORT "GPIO_TX" PULL_MODE=UP IO_TYPE=LVCMOS33;
